<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buaa.ops.Dao.CheckDao">
    <select id="selectByCode" resultType="Check">
        select * from [Check] where code = #{code}
    </select>
    <select id="selectInvalid" parameterType="java.sql.Timestamp" resultType="Check">
        select * from [Check] where checking_time &lt; #{date}
    </select>
    <delete id="deleteById" parameterType="Integer">
        delete from [Check] where check_id = #{id}
    </delete>
    <insert id="insert" parameterType="Check" useGeneratedKeys="true" keyProperty="checkId">
        insert into [Check] values (#{code}, #{email}, #{checkingTime})
    </insert>
</mapper>
