<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buaa.ops.Dao.EditorDao">
    <select id="selectById" resultType="Editor">
        select *
        from Editor
        where editor_id = #{id}
    </select>
    <select id="selectByAccountId" resultType="Editor">
        select *
        from Editor
        where account_id = #{accountId}
    </select>
    <select id="selectTwoLeastBusy" resultType="Editor">
        select top 2 *
        from Editor E
        order by (
                     select count(*)
                     from ArticleBuffer
                     where ArticleBuffer.editor_id = E.editor_id
                 ) + (
                     select count(*)
                     from Article
                     where Article.editor_id = E.editor_id and not exists(
                             select *
                             from ArticleBuffer
                             where overwrite = Article.article_id and title is not null
                     )
                 ), editor_id
    </select>
    <select id="selectAll" resultType="Editor">
        select * from Editor
    </select>
    <insert id="insert" parameterType="Editor" useGeneratedKeys="true" keyProperty="editorId">
        insert into Editor(account_id)
        values (#{accountId})
    </insert>
    <delete id="deleteById">
        delete from Editor
        where editor_id = #{id}
    </delete>
</mapper>
