<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buaa.ops.Dao.ReviewerDao">
    <select id="selectById" parameterType="Integer" resultType="Reviewer">
        select * from Reviewer where reviewer_id = #{id}
    </select>
    <select id="selectByAccountId" parameterType="Integer" resultType="Reviewer">
        select * from Reviewer where account_id = #{accountId}
    </select>
    <select id="selectAll" resultType="Reviewer">
        select * from Reviewer
    </select>
    <insert id="insert" parameterType="Reviewer" useGeneratedKeys="true" keyProperty="reviewerId">
        insert into Reviewer values (#{accountId}, #{organization})
    </insert>
    <update id="updateByAccountId" parameterType="Reviewer">
        update Reviewer
        set organization = #{organization}
        where account_id = #{accountId}
    </update>
    <delete id="deleteById" parameterType="Integer">
        delete from Reviewer where reviewer_id = #{id}
    </delete>
</mapper>