<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buaa.ops.Dao.WriteDao">
    <select id="selectByEditorId" parameterType="Integer" resultType="Write">
        select W.author_id, W.article_id, W.confirmed
        from Write W join Article A on W.article_id = A.article_id
        where editor_id = #{editorId}
    </select>
    <select id="selectBySelf" parameterType="Write" resultType="Write">
        select *
        from Write
        where article_id = #{articleId} and author_id = #{authorId}
    </select>
    <insert id="insert" parameterType="Write" useGeneratedKeys="true" keyProperty="writeId">
        insert into Write(author_id, article_id) values (#{authorId}, #{articleId})
    </insert>
    <update id="updateBySelf" parameterType="Write">
        update Write
        <set>
            <if test="confirmed != null">
                confirmed = #{confirmed}
            </if>
        </set>
        where author_id = #{authorId} and article_id = #{articleid}
    </update>
    <delete id="deleteBySelf" parameterType="Write">
        delete from Write where article_id = #{articleId} and author_id = #{authorId}
    </delete>
</mapper>